@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-size: 52px;
    line-height: 60px;
    @apply text-black uppercase font-medium;
  }
  h2 {
    font-size: 32px;
    line-height: 46px;
    @apply text-black uppercase font-medium;
  }
  h3 {
    /* check this: */
    font-size: 20px;
    line-height: 28px;
    @apply text-black font-semibold;
  }
  h4 {
    font-size: 21px;
    line-height: 30px;
    @apply font-semibold;
  }
  .p1 {
    /* change font-family to Lato */
    @apply text-base;
  }
  .p2 {
    font-size: 14px;
    line-height: 22px;
  }
  .p3 {
    font-size: 12px;
    line-height: 20px;
  }
}

@layer components {
  .wrapper {
    max-width: 100%;
    /* check this: */
    margin-left: 20px;
    margin-right: 20px;
  }
  @media screen(lg) {
    .wrapper {
      margin-left: 44px;
      margin-right: 44px;
    }
  }
  .l {
    width: 100%;
    max-width: 1352px;
    margin: 0 auto;
  }
  .tag {
    @apply text-sm font-semibold capitalize py-2 px-5 rounded-full;
  }
  .tag-big {
    @apply text-base w-[155px] inline-block text-center px-0;
  }
  .tag-red {
    @apply bg-lightRed bg-opacity-[12%];
  }
  .tag-purple {
    @apply bg-lightPurple bg-opacity-[12%];
  }
  .tag-white {
    @apply bg-white bg-opacity-[77%];
  }
  .btn {
    @apply inline-block py-4 px-[52px] rounded-lg font-semibold text-[16px] text-white;
  }
  .btn-red {
    @apply bg-primary-700;
  }
  .heroSlider-current {
    @apply font-semibold mr-3 inline-block after:inline-block after:align-middle after:bg-black after:w-9 after:h-[1px] after:ml-2 after:mb-1;
  }
  .newsletter-form {
    @apply flex justify-between items-center h-[77px] pr-[3%] pl-[4.3%] rounded-lg bg-white border border-lightGray-50;
  }
  .newsletter-input {
    @apply text-black opacity-[33%] font-medium text-[21px] outline-0 placeholder-black w-3/5;
  }
}
