@tailwind base;
@tailwind components;
@tailwind utilities;

/* inter-300 - cyrillic_latin */
@font-face {
  font-display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-300.eot"); /* IE9 Compat Modes */
  src: url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-300.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-300.woff")
      format("woff"),
    /* Modern Browsers */
      url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-300.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inter-regular - cyrillic_latin */
@font-face {
  font-display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-regular.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inter-500 - cyrillic_latin */
@font-face {
  font-display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-500.eot"); /* IE9 Compat Modes */
  src: url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-500.woff")
      format("woff"),
    /* Modern Browsers */
      url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-500.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inter-600 - cyrillic_latin */
@font-face {
  font-display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-600.eot"); /* IE9 Compat Modes */
  src: url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-600.woff")
      format("woff"),
    /* Modern Browsers */
      url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-600.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inter-700 - cyrillic_latin */
@font-face {
  font-display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-700.eot"); /* IE9 Compat Modes */
  src: url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-700.woff")
      format("woff"),
    /* Modern Browsers */
      url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-700.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* inter-800 - cyrillic_latin */
@font-face {
  font-display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-800.eot"); /* IE9 Compat Modes */
  src: url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-800.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-800.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-800.woff")
      format("woff"),
    /* Modern Browsers */
      url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-800.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../public/assets/fonts/inter/inter-v12-cyrillic_latin-800.svg#Inter")
      format("svg"); /* Legacy iOS */
}
/* lato-regular - cyrillic_latin */
@font-face {
  font-display: block;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../public/assets/fonts/lato/Lato-Regular.eot"); /* IE9 Compat Modes */
  src: url("../public/assets/fonts/lato/Lato-Regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../public/assets/fonts/lato/Lato-Regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../public/assets/fonts/lato/Lato-Regular.woff") format("woff"),
    /* Modern Browsers */ url("../public/assets/fonts/lato/Lato-Regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

@layer base {
  h1 {
    font-size: 52px;
    line-height: 60px;
    @apply text-black uppercase font-medium;
  }
  h2 {
    font-size: 32px;
    line-height: 46px;
    @apply text-black uppercase font-medium;
  }
  h3 {
    /* check this: */
    font-size: 20px;
    line-height: 28px;
    @apply text-black font-semibold;
  }
  h4 {
    font-size: 21px;
    line-height: 30px;
    @apply font-semibold;
  }
  .p1 {
    @apply text-base font-lato;
  }
  .p2 {
    font-size: 14px;
    line-height: 22px;
  }
  .p3 {
    font-size: 12px;
    line-height: 20px;
  }
}

@layer components {
  .wrapper {
    max-width: 100%;
    /* check this: */
    margin-left: 20px;
    margin-right: 20px;
  }
  @media screen(lg) {
    .wrapper {
      margin-left: 44px;
      margin-right: 44px;
    }
  }
  .l {
    width: 100%;
    max-width: 1352px;
    margin: 0 auto;
  }
  .tag {
    @apply text-sm font-semibold capitalize py-2 px-5 rounded-full;
  }
  .tag-big {
    @apply text-base w-[155px] inline-block text-center px-0;
  }
  .tag-red {
    @apply bg-lightRed bg-opacity-[12%];
  }
  .tag-purple {
    @apply bg-lightPurple bg-opacity-[12%];
  }
  .tag-white {
    @apply bg-white bg-opacity-[77%];
  }
  .btn {
    @apply inline-block py-4 px-[52px] rounded-lg font-semibold text-[16px] text-white;
  }
  .btn-red {
    @apply bg-primary-700;
  }
  .btn-white {
    @apply bg-white text-primary-700;
  }
  .heroSlider-current {
    @apply font-semibold mr-3 inline-block after:inline-block after:align-middle after:bg-black after:w-[37px] after:h-[1px] after:ml-[10px] after:mb-1;
  }
  .newsletter-form {
    @apply flex justify-between items-center h-[77px] pr-[3%] pl-[4.3%] rounded-lg bg-white border border-lightGray-50;
  }
  .newsletter-input {
    @apply text-black opacity-[33%] font-medium text-[21px] outline-0 placeholder-black w-3/5;
  }
  .answer {
    @apply h-0 overflow-hidden;
  }
  .answer.open .helper {
    @apply h-[42px];
  }
  .answer.open {
    @apply h-auto;
  }
  .signup-input {
    @apply appearance-none block w-full text-black text-base border border-lightGray-400 rounded-lg px-4 py-[6px] mb-[15px] focus:outline-none focus:border-primary-700 focus:border-opacity-[44%];
  }
  .signup-span {
    @apply inline-block text-black text-[13px] ml-1 mb-1;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
